@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage LocalStorage

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            @if (loggedIn)
            {
                <a href="/iniciar-sesion" @onclick="CerrarSesion">Cerrar sesi&oacute;n</a>
            }
            @if (!loggedIn)
            {
                <a href="/iniciar-sesion">Iniciar sesi&oacute;n</a>
            }
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private bool loggedIn = false;
    @*protected override async Task OnAfterRenderAsync()
    {
        var result = await LocalStorage.GetAsync<string>("nomina");
        if (result.Success) loggedIn = true;
        if (!result.Success) loggedIn = false;
    }*@
    private async void CerrarSesion()
    {
        await LocalStorage.DeleteAsync("nomina");
        await LocalStorage.DeleteAsync("esJefe");
        await LocalStorage.DeleteAsync("plazaFija");
    }
}
