@page "/"

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido al sistema de permisos de CETI!</h1>
        <p class="lead">Desde aqu&iacute; podr&aacute;s administrar todos los permisos que solicittes.</p>
        <hr class="my-4">
        <p>Por favor inicia sesi&oacute;n para poder comenzar.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/iniciar-sesion" role="button">Iniciar sesi&oacute;n</a>
        </p>
    </div>
</div>
